name: Tests

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '24'

    - uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: '9.1.0'

    - name: Run tests
      run: ./gradlew test --no-daemon
      env:
        JAVA_TOOL_OPTIONS: '--enable-native-access=ALL-UNNAMED'
