name: Tests

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '24'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: '9.1.0'

    - name: Run tests
      run: ./gradlew test --no-daemon
      env:
        JAVA_TOOL_OPTIONS: '--enable-native-access=ALL-UNNAMED'
